{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Legal Briefing  System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">

    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">

    <link rel="stylesheet" href="{% static 'css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style type="text/css">
      .option_container{
        
        margin-top: 20px;
        font-size: 25px;
        

      }
      .divcontainer{
        
        /*border: 5px solid black;*/
      }
      .form_container{
       /* background-color: #66C166;*/
       text-align: center;
        background-image: linear-gradient( to bottom,#f1f1f1,#FFFF99);
        margin: 30px;
        
        box-shadow: 5px 5px 5px 5px grey;


      }
      #option_one:hover,#display_one:hover,#display_two:hover,#display_three:hover,#display_four:hover{
        /*background-color: orange;*/
        font-size: 25px;
        box-shadow: 5px 5px #D3D3D3;
      }
      #form1,#form2{
        /*border: 5px solid black;*/
      }
      input{
        /*font-size:10px;*/
        border: none;
        border-radius: 5px;
        background-color: green;
        color: white;
        margin-top: 10px;
        margin-bottom: 7px; 
        margin-left: 15px;
        text-align: center;
        
      }

      
      /*.divone{

        background-color:cyan ;
        position: relative;
        margin-right: -10px;
        margin-top: 0;*/
        
      /*}
      .divtwo{
        background-color:#f2f2f2;
        position: relative;
        margin-right: -10px;

      }
      
      .divtwo:before{
        content:'';
        position: absolute;
        border-bottom: 100px solid #f2f2f2;
        border-left: 98.8vw solid transparent;
        top: -100px;
      }*/
      /*.divtwo:after{
        content:'';
        position: absolute;
        border-top: 100px solid black;
        border-right: 85.8vw solid transparent;
        bottom: -100px;
      }*/
      .divone:before{
        content:'';
        position: absolute;
        border-bottom: 100px solid cyan;
        border-left: 98.8vw solid transparent;
        top: -100px;
      }

      /*#section {

        display: none;

      }*/
    </style>
    
  </head>
  <body>
  
  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
   
    <div class="border-bottom top-bar py-2">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p class="mb-0">
              <span class="mr-3"><strong>Phone:</strong> <a href="tel://#">+1 292 3293 4238</a></span>
              <span><strong>Email:</strong> <a href="#">info@iemlabs.com</a></span>
            </p>
          </div>
          <div class="col-md-6">
            <ul class="social-media">
              <li><a href="#" class="p-2"><span class="icon-facebook"></span></a></li>
              <li><a href="#" class="p-2"><span class="icon-twitter"></span></a></li>
              <li><a href="#" class="p-2"><span class="icon-instagram"></span></a></li>
              <li><a href="#" class="p-2"><span class="icon-linkedin"></span></a></li>
            </ul>
          </div>
        </div>
      </div> 
    </div>
    <header class="site-navbar py-4 bg-white" role="banner">

      <div class="container">
        <div class="row align-items-center">
          
          <div class="col-11 col-xl-2">
            <h1 class="mb-0 site-logo"><a href="index.html" class="text-black h2 mb-0">Legal Briefing System</a></h1>
          </div>
          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                <li class="active"><a href="index.html">Home</a></li>
                <!--<li><a href="work.html">Work</a></li>
                <li class="has-children">
                  <a href="services.html">Services</a>
                  <ul class="dropdown">
                    <li><a href="services.html">Web Applications</a></li>
                    <li><a href="services.html">WordPress Dev</a></li>
                    <li><a href="services.html">Mobile Applications</a></li>
                    <li><a href="services.html">eCommerce</a></li>
                  </ul>
                </li>
                <<li><a href="about.html">About</a></li>
                <li><a href="blog.html">Blog</a></li>-->
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="about.html">About Us</a> </li>
              </ul>
            </nav>
          </div>


          <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

          </div>

        </div>
      </div>
      
    </header>

  

    <div class="site-blocks-cover overlay" style="background-image: url({% static 'images/hero_1.jpg' %});" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-center text-center">

          <div class="col-md-12" data-aos="fade-up" data-aos-delay="400">
                        
            <div class="row justify-content-center mb-4">
              <div class="col-md-8 text-center">
                <h1>We Are Expert in <span class="typed-words"></span></h1>
                <p class="lead mb-5">We Make Beautiful Things</p>
                <!--<div><a href="#" class="btn btn-primary btn-md">Hire Us</a></div>-->
              </div>
            </div>

          </div>
        </div>
      </div>
    </div> 
    <script type="text/javascript">
      //var section;
      var section_val;
      function check(){
      var selection=document.getElementById('option_one').value;
      
    
      if(selection=="property")
        {document.getElementById('display_one').style.display="block";
         section_val = 'display_one';
         //console.log(section);
          
        //alert(selection);
        document.getElementById('display_two').style.display="none";
        document.getElementById('display_three').style.display="none";
        
      }
      if(selection=="crime")
        {document.getElementById('display_two').style.display="block";
         section_val = 'display_two';
         //section = document.getElementById('display_two').value;
         
        //alert(selection);
        document.getElementById('display_one').style.display="none";
        document.getElementById('display_three').style.display="none";
        
      }
      if(selection=="business")
        {document.getElementById('display_three').style.display="block";
         section_val = 'display_three';
         
        //alert(selection);
        document.getElementById('display_two').style.display="none";
        document.getElementById('display_one').style.display="none";
        
      }
      
    }

    function get_val()
    {
      document.getElementById('section').value = document.getElementById(section_val).value;
    }
      
        

        
      
    </script>
    
    <section style="height: 67vh;" class="form_container" style="justify-content: center;">
      <div class="divcontainer">
        <h2 style="text-align: center; margin-top: 20px;">PROCEED WITH YOUR FORM SELECTION</h2>
        <div style=" justify-content: center; display: inline-flex; flex-wrap: wrap;" class="option_container">
           <form action="download" method="POST" id="formsubmit" enctype="multipart/form-data"  style=" justify-content: center; display: inline-flex; flex-wrap: wrap;" >
            {% csrf_token %}
            <input type="text" id='section' name="legal_section">
          <div style="">
           
          <div style="height: 10vh; padding-left: 10px; margin-right: 20px;" id="form1">
            <!--<input type="" name="">-->
            <br>
            <select name="option_select" onclick="check();" id="option_one">
              <option value="property" id="one" >property</option>
              <option value="crime" id="two" >crime</option>
              <option value="business" id="three" >business</option>
            </select>
            <br>
            
          </div>
        </div>
        <div style="margin-top: 45px; text-align: center; padding-left: 20px; display: inline-flex; flex-wrap: wrap;">
          <div style="height: 6vh;" id="form2">
            
            <!--<input type="submit" name="submit" value="submit" onclick="check()">-->
            
            <div style="text-align: center;">
              <select name="option_select" id="display_one" style="display:block;">
              <option value="tenancy">tenancy</option>
              <option value="live and licence">live and licence</option>
            </select>
            <select name="option_select" id="display_two" style="display: none;">
              <option value="murder">murder</option>
              <option value="theft">theft</option>
              <option value="molestation">molestation</option>
            </select>
            <select name="option_select" id="display_three" style="display: none;">
              <option value="online">online</option>
              <option value="offline">offline</option>
            </select>
            
          </div>
        </div>
            <input type="file" name="document" onclick="get_val()"  style="font-size: 10px; height: 20px;">
            
            <input type="submit" name="" value="Submit"  style="font-size: 10px; height: 20px;">
          
        </form>
        </div>
          
          <br>

        </div>

    </section>    <
           
    	
    	
    	
    
    
    
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-5">
                <h2 class="footer-heading mb-4">About Us</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque facere laudantium magnam voluptatum autem. Amet aliquid nesciunt veritatis aliquam.</p>
              </div>
              <div class="col-md-3 ml-auto">
                <h2 class="footer-heading mb-4">Features</h2>
                <ul class="list-unstyled">
                  <li><a href="about.html">About Us</a></li>
                  <li><a href="contact.html">Contact Us</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                <h2 class="footer-heading mb-4">Follow Us</h2>
                <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <h2 class="footer-heading mb-4">Subscribe Newsletter</h2>
            <form action="#" method="get">
              <div class="input-group mb-3">
                <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                <div class="input-group-append">
                  <button class="btn btn-primary text-white" type="button" id="button-addon2">Send</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
            <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            <!--Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>-->
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
            </div>
          </div>
          
        </div>
      </div>
    </footer>
  </div>

  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>

  <script src="{% static 'js/typed.js' %}"></script>
            <script>
            var typed = new Typed('.typed-words', {
            strings: ["Web Apps"," Innovation"," Mobile Apps"],
            typeSpeed: 80,
            backSpeed: 80,
            backDelay: 4000,
            startDelay: 1000,
            loop: true,
            showCursor: true
            });
            </script>

  <script src="{% static 'js/main.js' %}"></script>
    
  </body>
</html>